{% extends "blog/base.html" %}

{% block title %}
    {{ title }} 
{% endblock title %}

{% block content %}
    <h1><u>Thoughts, Quotes, and the Heart Behind The Blog</u></h1>

    <section class="about-section">
        <br>
        <br>
        <br>
        <h3><i>Unknown</i></h3>
        <h2><b>“Happiness is homemade.”</b></h2>        

        <br>
        <h3><i>Oscar Wilde</i></h3>
        <h2><b>“Be yourself; everyone else is already taken.”</b> </h2>        


        <br>
        <h3><i>Harold Abelson</i></h3>
        <h2><b>“Programs must be written for people to read, and only incidentally for machines to execute.”</b>  </h2>        

        <br>
        <h3> <i>Unknown</i> </h3>
        <h2><b>“The fondest memories are made when gathered around the table.”</b> </h2>        

        <br>
        <h3><i>Albert Einstein</i></h3>
        <h2><b>“Imagination is more important than knowledge.”</b> </h2>

        <br>
        <h3><i>Tony Robbins</i></h3>
        <h2><b>“The only impossible journey is the one you never begin.”</b> </h2>

        <br>
        <h3><i>Theodore Roosevelt</i> </h3>
        <h2><b>“Do what you can, with what you have, where you are.”</b> </h2> 

        <br>
        <h3><i> Henry David Thoreau</i> </h3>
        <h2><b>“The world is but a canvas to our imagination.” </b> </h2>        
    </section>
{% endblock content %}